<h2 id="reset_title">Reset your password</h2>
<div id="reset-div_form">
    <form action="/api/sessions/restart/{{id}}" method="post">
    {{!-- Email: <input id="form_line" type="email" name="email" id="email">    
    <br> --}}
    Password: <input id="form_line" type="password" name="pass" id="pass">    
    <br>
    Repeat password: <input id="form_line" type="password" name="repeat" id="repeat">    
    <br>
    <input id="reset_button" type="submit" value="Reset">
    </form>
</div>
